[submodule "submodule/spreadsheet"]
	path = submodule/spreadsheet
	url = https://github.com/dmitriy-shmilo/spreadsheet
[submodule "Lib/spreadsheet"]
	path = Lib/spreadsheet
	url = https://github.com/dmitriy-shmilo/spreadsheet
[submodule "Lib/LibCSV"]
	path = Lib/LibCSV
	url = https://github.com/dmitriy-shmilo/LibCSV
[submodule "Lib/Catalyst-Helpers"]
	path = Lib/Catalyst-Helpers
	url = https://github.com/mmackh/Catalyst-Helpers
